.navbar {
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 10px 10px;
}

.custom_input {
  width: 400px;
  border-radius: 35px;
  border: 1px solid;
  outline: none;
  padding: 5px;
  background-color: #f3f3f3;
  border-color: #cfcfcf;
}

.navbar button {
  border-radius: 35px;
  border: 1px solid;
  outline: none;
  padding: 5px;
  background-color: #f3f3f3;
  border-color: #cfcfcf;
  margin-left: 5px;
}